name: CI

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - app/**
      - build.gradle.kts
      - settings.gradle.kts
      - gradle/**

jobs:
  build:
    name: Build
    uses: ./.github/workflows/_build.yml
    secrets: inherit